<!-- views/partials/footer.ejs -->
<p class="text-center text-muted"><a href="/pages/index2.ejs">The backend of this app is set up with NodeJS on Heroku</a></p>
<p class="text-center text-muted">© Copyright 2019 The Awesome People</p>