<!-- views/partials/header2.ejs -->

<nav class="navbar navbar-default" role="navigation">

	<div>
		<a class="navbar-brand" href="#">
		<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
		Travel in Ukraine
		</a>
	</div>
	
	<div class="container-fluid">

		<div class="navbar-header">	
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a style="cursor:pointer" onclick="getPlacesOfInterest()">Places of interest</a></li>
				<li><a style="cursor:pointer" onclick="getContactForm()">Contact</a></li>
			</ul>
			
		</div>
		
		<div class="navbar-header">
		<ul class="nav navbar-nav" id="loginoutmenu">
		</ul>
		</div>

	</div>
</nav>