td#td-flex{
	display:flex;
	flex-direction:row;
	justify_content: space around;
}


p.success-message{
	background-color: #00FF7F;
	color: #008000;
}


p.info-message{
	background-color: #00BFFF;
	color: #00008B;
}