<!-- views/pages/index.ejs -->
<!-- This is the main page for food storage app -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header.ejs %>
</header>

<main id="change">
    <div class="jumbotron">
		<h1><b>Hello World from Food Storage App !</b></h1>
		<br>
        <h1>Food storage is a very good thing to have</h1>
		<br>
        <p>Welcome to our food storage app !</p>
		
		<h2>You will soon see more !</h2>

			<!--<ol>
				<% items.forEach(function(item) { %>
				<section>
					<li class="hotdog">
					<div>
					<ul>
					<li><b>Item:</b> <span class="name"><%= item.itemname %></span></li>
					<li><b>Amount:</b> <span class="price"><%= item.amount %> <b>kg</b></span></li>
					</ul>
					</div></li>
				</section>
				<% }); %>
			</ol>-->



    </div>
	

</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
/*
function manageHotDogs() {
console.log("Hi I am getting the manage hot dogs page");
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getfoodstorageitems", true);
  xhttp.send();
}
*/
</script>
<script src="index.js"></script>

</body>
</html>