<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    
</header>

<main id="change">
    <div class="jumbotron">
        <h1>Hot dogs are awesome</h1>
        <p>Welcome to our hot dogs' management app !</p>
		
		<h2>Here are our hot dogs !</h2>





    </div>
	

</main>

<footer>
    
</footer>


<script src="index.js"></script>

</body>
</html>